
@{
    ViewBag.Title = "پرسش های متداول";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="art-postcontent art-postcontent-0 clearfix">
<div  class="container1" >
<br />
<h3 style="color:#4E6883";>موارد قابل توجه برای استفاده از پورتال</h3>
<br />
<div class="panel-group" id="accordion">
<div class="panel-group">
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse1">1- برای استفاده از این پورتال چه امکانات نرم افزار و سخت افزاری لازم است؟</a>
        </h4>
                     
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            لطفا فایل اموزشی را دانلود نمایید .
            <p dir="rtl">
                <a href="http://tamin1460.ir/help.pdf"
                   target="_blank">لینک دانلود</a>
            </p>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-parent="#accordion" data-toggle="collapse" href="#collapse2">2- مناسب ترین مرورگر برای استفاده از پورتال چه نرم افزاری می باشد؟ </a>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            پیشنهاد میشود برای استفاده از پرتال از یکی از دو نرم افزار ذیل استفاده نمایید
            Mozilla Firefox و Google Chrome
            <p dir="rtl">
                <a href="https://www.mozilla.org/fa/firefox/new/"
                   target="_blank">لینک دانلود برنامه Mozilla Firefox</a>
            </p>

            <p dir="rtl">
                <a href="https://www.google.com/chrome/browser/desktop/index.html"
                   target="_blank">لینک دانلود برنامه Google Chrome</a>
            </p>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse3">3- چگونه مدارک را برای پورتال ارسال نماییم؟ </a>
        </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
            <br />
            در صفحه ارسال فایل بر روی 
            <u>مرور</u> 
            کلیک کرده
            <br /><br />
            <img height="500" alt="" src="~/Media/ImgAmozesh/13.jpg" class="img-responsive img-thumbnail"/>
            <img  />
            <br /><br /><br />
            در صفحه باز شده آدرس تصویر را وارد کنید (در تصویر ذیل به صورت مثال آدرس دهی شده است و شما باید آدرس محل ذخیره شده تصویر خود را وارد کنید)، تصویر مورد نظر را انتخاب کنید و بر روی open کلیک نمایید 
            <br /><br />
            <img height="500" alt="" src="~/Media/ImgAmozesh/14.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            1-آدرس تصویر مورد نظر
            <br />
            2-انتخاب تصویر مورد نظر
            <br />
            3-کلیک بر روی Open
            <br /><br /><br />
            در ادامه بر روی گزینه
            <u>ارسال</u>
            کلیک نمایید تا تصویر مورد نظر آپلود شود
            <br />
            <img height="500" alt="" src="~/Media/ImgAmozesh/15.jpg"  class="img-responsive img-thumbnail"/>
            <br /><br />
            نکته : برای هر کدام از تصاویر مورد نظر باید این مراحل را تکرار نمایید وقتی همه مدارک را ارسال نمایید در پایین صفحه دکمه ثبت برای شما فعال شده که با کلیک بر روی آن میتوانید تصاویر را ثبت نمایید. 

        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse4">4- چگونه از مدارک خود (کارت ملی، شناسنامه و غیره...) تصویر تهیه نماییم؟</a>
        </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
            از مدارک موجود به وسیله اسکنر یا موبایل تصویر گرفته شود.
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse5">5- مشخصات تصویر مناسب برای پورتال چیست؟</a>
        </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
                
            جدید باشد.
            <br />
            تمام رخ بوده و قرص صورت به طور کامل مشخص باشد.
            <br />
            زمینه تصویر روشن باشد به گونه ای که پس از ممهور نمودن، مهر خوانا باشد.
            <br />
            تصویر رنگی یا سیاه و سفید تمام رخ، از شانه به بالا و با زمینه روشن در اندازه 4*3 باشد.
            <br /><br />
            <img height="300" alt="" src="~/Media/ImgAmozesh/10.jpg" class="img-responsive img-thumbnail"/>
            <img height="300" alt="" src="~/Media/ImgAmozesh/07.jpg" class="img-responsive img-thumbnail"/>
            <br />

            <img height="150" alt="" src="~/Media/ImgAmozesh/08.jpg" class="img-responsive img-thumbnail"/>
            <img height="150" alt="" src="~/Media/ImgAmozesh/09.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            <hr />
            حاشيه‌های زايد تصویر اسکن شده بايد حذف شده باشد.
            <br /><br />
            <img height="300" alt="" src="~/Media/ImgAmozesh/02.jpg" class="img-responsive img-thumbnail"/>
            <img height="300" alt="" src="~/Media/ImgAmozesh/03.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            <hr />
            تصویر اسکن شده نباید کج افتاده باشد.
            <br /><br />
            <img height="300" alt="" src="~/Media/ImgAmozesh/02.jpg" class="img-responsive img-thumbnail"/>
            <img height="300" alt="" src="~/Media/ImgAmozesh/04.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            <hr />
            تصویر اسکن شده به صورت کامل باشد.
            <br /><br />
            <img height="300" alt="" src="~/Media/ImgAmozesh/02.jpg" class="img-responsive img-thumbnail"/>
            <img height="300" alt="" src="~/Media/ImgAmozesh/05.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            تصویر سالم و غیر مخدوش باشد.
            <br />
            تصویر بانوان(بالاتر از9سال) با حجاب کامل و بدون آرایش (مشخص بودن علائم ظاهری صورت) باشد.
            <br />
            تصویر اسکن شده فقط بايد با فرمت  JPG  باشد.
            <br />
            حجم فايل ذخيره شده تصویر نبايد از 200 کيلو بايت بيشتر باشد.
            <br />
            تصویر بدون کلاه، شال گردن و عینک تیره باشد(افراد نابینا از قاعده عینک مستثنی می باشند)
            <br />
            تصویر متعارف و عاری از هر گونه حرکت های زائد  در زمینه مربوط باشد (گریه نمودن، خندیدن، دست بر رو دست و صورت و...)

        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse6">6- تنظیم اندازه تصویر (Resize) برای کم کردن حجم تصویرهای با حجم بالا؟</a>
        </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
            تنظیم اندازه تصویر با استفاده از برنامه Paint  :
            <br />
            ابتدا تصویر را اسکن نمایید.
            <br />
            بر روی فایل تصویر ذخیره شده کلیک راست نموده و گزینه ویرایش (Edit) را انتخاب نمایید.
            <br />
            پس از باز شدن برنامه Paint گزینه Resize را انتخاب نمایید.
            <br />
            <img height="500" alt="" src="~/Media/ImgAmozesh/21.jpg" class="img-responsive img-thumbnail"/>
            <hr />
            <br />
            در پنجره ای که باز می شود گزینه Pixel  را انتخاب نمایید سپس در قسمت Horizontal عدد 500 را قرار دهید (برای عکس پرسنلی این عدد باید بین 100 الی 200انتخاب شود ولی برای ما بقی مدارک عدد 500 مناسب می باشد) سپس گزینه OK  را انتخاب نمایید.
            <br />
            <img height="500" alt="" src="~/Media/ImgAmozesh/22.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            1-	Pixels را انتخاب نموده.
            <br />
            2-عدد مورد نظر را در کادر Horizontal وارد نمایید.
            <br />
            3-بر روی OK  کلیک نمایید.
            <br />
            <hr />
            پس از اینکه عکس شما به درستی به نمایش در آمد باید عکس را در رایانه خود ذخیره نمایید. برای این منظور مطابق عکس زیر گزینه File (در بالای سمت چپ صفحه قرار دارد) را انتخاب نموده و پس از آن گزینه Save as و سپس گزینه JPEG را انتخاب نمایید.
            <br />
            <img height="500" alt="" src="~/Media/ImgAmozesh/23.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            1-بر روی Files کلیک نمایید.
            <br />
            2-بر روی Save as کلیک نمایید.
            <br />
            3-بر روی JPEG Picture کلیک نمایید.
            <br />
            <hr />
            <br />
            حال یک پنجره جدید باز می شود که شما باید نام فایل و همچنین محلی که قصد ذخیره عکس را دارید انتخاب نمایید. برای این منظور مطابق تصویر زیر ابتدا نام فایل خود را نوشته و سپس محل ذخیره را انتخاب نموده و در پایان گزینه  save را انتخاب  نمایید.
            <br />
            <img height="500" alt="" src="~/Media/ImgAmozesh/24.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            1-اسم فایل را وارد نمایید.
            <br />
            2-آدرس محل ذخیره سازی را وارد نمایید.
            <br />
            3-بر روی Save  کلیک نمایید.
            <br /><br />
            <hr />
            <br />
            تنظیم اندازه تصویر با استفاده از برنامه Light Image Resizer :
            <br />
            ابتدا برنامه ذیل را دانلود نمایید, برنامه را مورد نظر را نصب نمایید
            <br />
            <p dir="rtl"><a href="http://p30download.com/fa/entry/12692/" target="_blank">لینک دانلود</a></p>
                        
            بر روی آیکن برنامه در دسکتاپ کلیک کرده آیکن برنامه در دستکاپ به شکل ذیل می باشد
            <br /><br />
            <img height="150" alt="" src="~/Media/ImgAmozesh/6.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            در این صفحه بر روی Next  کلیک کرده
            <br /><br />
            <img height="700" alt="" src="~/Media/ImgAmozesh/16.jpg" class="img-responsive img-thumbnail"/>
            <hr />
            <br />
            در این صفحه ابتدا ادرس عکس مورد نظر را وارد نموده ، بعد تصویر مورد نظر را انتخاب نموده و بر روی open  کلیک نموده  
            <br /><br />
            <img height="700" alt="" src="~/Media/ImgAmozesh/17.jpg" class="img-responsive img-thumbnail"/>
            <br /><br />
            1-آدرس تصویر مورد نظر را وارد نمایید.
            <br />
            2-تصویر مورد نظر را انتخاب نمایید.
            <br />
            3-بر روی Open کلیک نمایید.
            <br />
            <hr />
            در این صفحه بر روی  processکلیک نمایید.
            <br /><br />
            <img height="700" alt="" src="~/Media/ImgAmozesh/18.jpg" class="img-responsive img-thumbnail"/>
            <br />
            <hr />
            در پایان بر روی گزینه Open destination folder کلیک کرده و پوشه عکس مورد نظر با تغییر حجم لحاظ شده برای شما باز می شود.
            <br /><br />
            <img height="500" alt="" src="~/Media/ImgAmozesh/19.jpg" class="img-responsive img-thumbnail"/>
            <br />
        </div>
    </div>
</div>
<br /><br />
<h3 style="color:#4E6883";>نحوه استفاده از خدمات الکترونیکی</h3>
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">

            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse7">1- چگونه پیشنهادها خود را در پورتال ثبت نمایید؟</a>
        </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">
            برای این کار لطفا به پنل کاربری خود وارد شده گزینه
            <u>پیشنهادها</u>
            را انتخاب نموده سپس با وارد نمودن اطلاعات مورد نیاز پیشنهاد خود را ثبت نمایید.
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse8">2- در صورت فراموش نمودن رمز عبور چه اقداماتی باید انجام دهید؟</a>
        </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
        <div class="panel-body">
            جهت حل این مشکل لطفا به پشتیبانی سیستم مراجعه نمایید.
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse9">3- کارفرمایانی که هنوز نام کاربری و رمز عبور دریافت نکرده اند ، چگونه نام کاربری و رمز عبور دریافت نماییند ؟ </a>
        </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
        <div class="panel-body">
            لطفا از سایت اصلی بر روی گزینه
            <u>خدمات الکترونیک شعبه شهر صنعتی </u>
            رفته سپس گزینه 
            <u>ثبت نام کارفرمایان</u> 
            را انتخاب نموده و در صفحه بعدی دکمه 
            <u>تایید و ادامه</u>
            را انتخاب کرده و در صفحه باز شده اطلاعات درخواست شده را وارد نمایید، اطلاعات شما بررسی شده در صورت تایید اطلاعات، نام کاربری و رمز عبور برای شما ارسال خواهد شد.
        </div>
    </div>
</div>
<br /><br />
<h3 style="color:#4E6883";>شرایط لازم بیمه شده برای استفاده از خدمات</h3>
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse10">1- شرایط فرزند پسر برای استفاده از خدمات سازمان چیست؟</a>
        </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
        <div class="panel-body">
            سن ایشان 19 سال تمام یا کمتر باشد.
            <br />
            از 20 سالگی به بالا، منحصرا در مراکز دانشگاهی معتبر اشتغال به تحصیل داشته باشند.
            <br />
            طبق نظر کمیسیون پزشکی از کار افتاده کلی تشخیص داده شود.
            .
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse11">2- شرایط فرزند دختر برای استفاده از خدمات سازمان چیست؟</a>
        </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse">
        <div class="panel-body">
            شاغل نبوده و ازدواج نکرده باشند.
            <br />
            متارکه و یا همسر ایشان فوت کرده باشد.
            <br />
            به واسطه فوت همسر مستمری بگیر سازمان نباشند.
            <br />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placement="top" title="برای مشاهده پاسخ کلیک نمایید" style="color:#FA5705" data-toggle="collapse" data-parent="#accordion" href="#collapse12">3- تاریخ اعتبار دفترچه بیمه درمانی چه اهمیتی دارد؟</a>
        </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
        <div class="panel-body">
            اعتبار دفترچه درمانی به منزله میزان استحقاق درمان بیمه شده و منوط به داشتن رابطه بیمه پردازی در دوره مربوطه جهت بهره مندی از مزایای درمانی مقرر در قانون می باشد لذا چنانچه دفترچه درمانی بیمه شدگان فاقد اعتبار باشد و یا ارتباط بیمه ای فعال با سازمان نداشته باشد حق برخورداری از خدمات درمانی مذکور را نخواهد داشت.
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
