@model Tamin.Models.ShowStateViewModel
<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">@Model.SeeToday</span>
        بازدید امروز
    </li>
    <li class="list-group-item">
        <span class="badge">@Model.SeeYesterday</span>
        بازدید دیروز
    </li>
    <li class="list-group-item">
        <span class="badge">@Model.SeeSum</span>
        بازدید کل
    </li>
    <li class="list-group-item">
        <span class="badge">@Model.OnlineUser</span>
        افراد آنلاین
    </li>
</ul>
