@model Tamin.Models.Post

@{
    ViewBag.Title = "حذف ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="widget">
    <div class="widget-header bg-danger">
        <span class="widget-caption">فهرست خبرها</span>
    </div>
    <div class="widget-body">
        <div class="row padding-10">
            <br/><h4>آیا مطمئن هستید که مطلب با عنوان " @Html.DisplayFor(model => model.PostTitle) "  حذف شود؟</h4><br/>
            
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <div id="buttons">
                    <div class="col-md-12 text-center">
                        <input type="submit" class="btn btn-success"  value="حذف مطلب" />
                        @Html.ActionLink("انصراف/بازگشت", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-danger" })						
                    </div>
                </div>
            }
        </div>
    </div>
</div>

