@model string
<div class="form-group last">
    @Html.HiddenFor(model => model, new { id = "imgEdit" })
    <div class="col-md-10">
        <div id="firstImg" class="fileupload fileupload-new" data-provides="fileupload">
            <div id="secondImg" class="fileupload-new thumbnail" style="width: 75px; height: 75px;">

                <img src="@Url.Content("~/Uploads/noimage.png")" alt="" />

            </div>
            @*<div id="showimg" class="fileupload-preview fileupload-exists thumbnail" style="max-width: 75px; max-height: 75px; line-height: 20px;">

            </div>*@
            <div>
                <span class="btn btn-white btn-file">
                    <span class="fileupload-new"><i class="fa fa-paperclip"></i> انتخاب/ تغییر تصویر</span>
                    <input id="ImageUrl" name="ImageUrl" type="file" class="default" />
                </span>
                <a href="#" id="remove" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> حذف</a>
            </div>
        </div>
    </div>
</div>

