@model string
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <span class="widget-caption">ایجاد نقش</span>
    </div>
    <div class="widget-body">
        <div class="row">
            @Html.ValidationSummary(false)
            @using (Html.BeginForm("Create", "AdminRoles", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-12 padding-10">
                    <div class="form-group">
                        <label class="control-label col-md-2">نام</label>
                        <div class="col-md-3">
                            <input name="name" value="@Model" class="form-control" />
                        </div>
                    </div>
                </div>


                    <div id="buttons">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-primary" value="ثبت" />
                            @Html.ActionLink("بازگشت به فهرست", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-danger" })
                        </div>
                    </div>
                    }
                </div>
    </div>
</div>
        



