@model string
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        ایجاد نقش
    </header>
    <div class="panel-body">
        @Html.ValidationSummary(false)
        @using (Html.BeginForm("Create", "AdminRoles", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label col-md-2">نام</label>
                <div class="col-md-4">
                    <input name="name" value="@Model" class="form-control" />
                </div>
            </div>
            <div id="buttons">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" value="ثبت" />
                    @Html.ActionLink("بازگشت به فهرست", "Index")
                </div>
            </div>
        }
    </div>
</section>



